<%- include('../partials/header') %>
  <main>
<h2>Show Page</h2>  
<li><a href="/properties/<%=prop.address%>">Property #1</a></li>
<%= prop.city %><br>
<%= prop.state %><br>
<%= prop.zip %><br>

<form action="/properties/<%= prop._id %>/edit" method="GET">
        <button class="btn btn-primary" type="submit" class="btn-primary">Edit Property Info</button>
</form>

<form action="/properties/<%= prop._id %>?_method=DELETE"  method="POST">
<button class="btn btn-danger" type="submit">Delete Property</button>
</form>
<button class="btn btn-primary" type="submit">Create New Tenant</button>


    
</main>
<%- include('../partials/footer') %>