<%- include('../partials/header') %>

  <h1>User Index Page</h1>

<main>
<h2>Logged in as TENANT</h2>
<p>Show Renter Profile</p>

PROPERTY
<%= prop %>

<br><br><br>
USERS
<%= users %>


<form action="/users/<%= users._id %>" method="GET">  
<button class="btn btn-primary" type="submit">Go to Profile</button>
</form><br>

<li><a href="/auth/logout">Log Out</a></li>
</main>

<%- include('../partials/footer') %>
    